.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App-title {
  width: 200px;
  padding: 0 20px;
}

ul {
  list-style-type: none;
}
